{% load static %}

{% load i18n %}

{% load bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-light navbar-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'image/logo.png' %}" width="30" height="30" alt="" class="align-bottom">
        {% trans "Inicio" %}
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
            {% if request.user.is_staff %}
                <li class="nav-item dropdown ml-xl-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownImportMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-tools"></i> {% trans "Herramientas" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownImportMenuLink">
                        <a class="dropdown-item" href="#">{% trans "Editor del Juego" %}</a>
                        <a class="dropdown-item" href="#">{% trans "Importar juego" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{% trans "Gestor de Clases" %}</a>

                        {% if request.user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Sitio de Administración" %}</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
         {% if user.is_authenticated %}
                <li class="nav-item dropdown ml-xl-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownImportMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user-ninja"></i> {% trans "Usuario"%}: {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownImportMenuLink">
                        <a class="dropdown-item" href="{% url 'gamemonitor:update_profile' %}">{% trans "Mi perfil" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{% trans "Mis datos" %}</a>
                        <a class="dropdown-item" href="#">{% trans "Progresos" %}</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'logout' %}">
                        {% trans "Cerrar sesión" %}
                        </a>
                    </div>
                </li>

                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">{% trans "Iniciar sesión" %}</a>
                {% endif %}
            </ul>
  </div>
    {% if is_game_view %}
        <nav class="navbar navbar-dark navbar-navitem-game">
            <form class="form-inline" method="post" action="{% url 'exit_game' %}">
                {% csrf_token %}
                {% if show_chat %}
                    <button class="btn btn-outline-success chat-btn btn-floating " type="button"
                            data-toggle="collapse" data-target="#collapseGameChat"
                            aria-expanded="false" aria-controls="collapseGameChat"
                            onclick="loadContactConversation(null)">
                        <span><i class="fas fa-comment faa-shake chat-icon"></i></span>
                        <span class="badge badge-pill badge-light badge-unread-messages d-none"></span>
                        <span class="sr-only">{% trans "mensajes sin leer" %}</span>
                    </button>
                {% endif %}
                <button class="btn btn-outline-danger exit-game-btn"
                        type="submit">{% trans "Salir del juego" %}</button>
            </form>
        </nav>
    {% endif %}
</nav>

