{% extends "base_auth.html" %}
{% load i18n %}

{% block auth_base_class %}login{% endblock %}
{% block content %}

    {% if validlink %}

        {% trans 'New password:' as new_password1 %}
        {% trans 'Confirm password:' as new_password2 %}

        <script>
            $(document).ready(function () {
                $('#id_new_password1').addClass('form-control')
                $('#id_new_password1').attr('placeholder', '{{ new_password1 }}')

                $('#id_new_password2').addClass('form-control')
                $('#id_new_password2').attr('placeholder', '{{ new_password2 }}')
            })
        </script>

        <div class="row">
            <div class="col-md-9 col-lg-11 mx-auto">
                <h3 class="login-heading mb-4 text-center">{{ title }}</h3>
                <p class="text-justify">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post" class="form">{% csrf_token %}
                    <fieldset class="module aligned">

                        <div class="form-row field-password1 d-block">
                            {{ form.new_password1.errors }}
                            <div class="form-label-group">
                                {{ form.new_password1 }}
                                <label for="id_new_password1">{{ new_password1 }}</label>
                            </div>
                        </div>

                        <div class="form-row field-password2 d-block">
                            {{ form.new_password2.errors }}
                            <div class="form-label-group">
                                {{ form.new_password2 }}
                                <label for="id_new_password2">{{ new_password2 }}</label>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                type="submit">{% trans 'Change my password' %}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    {% else %}

        <p class="text-justify">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
{% endblock %}
