{% extends "base_auth.html" %}
{% load i18n %}

{% block auth_base_class %}login{% endblock %}

{% block content %}
    {% trans 'Email address:' as email_placeholder %}
    <script>
        $(document).ready(function () {
            $('#id_email').addClass('form-control')
            $('#id_email').attr('placeholder', '{{ email_placeholder }}')
        })
    </script>

    <div class="row">
        <div class="col-md-9 col-lg-11 mx-auto">
            <h3 class="login-heading mb-4 text-center">{{ title }}</h3>

            <p class="text-justify">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <form method="post" class="form">
                {% csrf_token %}

                <div class="form-row d-block">
                    {{ form.email.errors }}
                    <div class="form-label-group">
                        {{ form.email }}
                        <label for="id_email">{{ email_placeholder }}</label>
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                        type="submit">
                    {% trans 'Reset my password' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
