{% extends "base.html" %}

{% load i18n static %}
{% block globalClass %} rounded-input-theme{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
    {% trans "Old password" as old_pass %}
    {% trans "New password" as new_pass1 %}
    {% trans "New password confirmation" as new_pass2 %}

    <script>
        $(document).ready(function () {
            $('#id_old_password').addClass('form-control')
            $('#id_old_password').attr('placeholder', '{{ old_pass }}')
            $('#id_new_password1').addClass('form-control')
            $('#id_new_password1').attr('placeholder', '{{ new_pass1 }}')
            $('#id_new_password2').addClass('form-control')
            $('#id_new_password2').attr('placeholder', '{{ new_pass2 }}')
        })
    </script>

    <h1>{{ title }}</h1>
    <div id="content-main">

        <form method="post" class="form">{% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}
                            {% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                <fieldset class="module aligned wide">

                    <div class="form-row d-block">
                        {{ form.old_password.errors }}
                        <div class="form-label-group">
                            {{ form.old_password }}
                            <label for="id_old_password">{{ old_pass }}</label>
                        </div>
                    </div>

                    <div class="form-row d-block">
                        {{ form.new_password1.errors }}
                        <div class="form-label-group">
                            {{ form.new_password1 }}
                            <label for="id_new_password1">{{ new_pass1 }}</label>
                        </div>
                        {% if form.new_password1.help_text %}
                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>

                    <div class="form-row d-block">
                        {{ form.new_password2.errors }}
                        <div class="form-label-group">
                            {{ form.new_password2 }}
                            <label for="id_new_password2">{{ new_pass2 }}</label>
                        </div>
                        {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Change my password' %}"
                           class="btn btn-lg btn-primary btn-block text-uppercase font-weight-bold mt-2">
                </div>

            </div>
        </form>
    </div>

{% endblock %}