{% extends "base_auth.html" %}
{% load i18n %}

{% block auth_base_class %}login{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-9 col-lg-11 mx-auto">
            <h3 class="login-heading mb-4 text-center">{{ title }}</h3>

            <p class="text-justify">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

            <p class="text-justify">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

            <p class="text-center"><a class="small" href="{% url 'login' %}">{% trans 'Log in' %}</a></p>
        </div>
    </div>
{% endblock %}
