@import "pfg.scss";


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
    height:100%; 
    background-color: $web_background_color;
    .pfg {
      @include pfg;
    }
}