@mixin views {

  .view-title {
    margin-top: 2px;

    padding-bottom: 5px;

    .view-title-label {
      font-weight: 800;
      font-size: 14px;
      color: $uned_color;
      text-transform: uppercase;
    }

    @media (min-width: $break-small-width) { //calc($break-small-width + 1px)) {
      padding-bottom: 15px;
      .view-title-label {
        font-size: 20px;
      }
    }
  }

  .list-view {

    .non-items {
      color: $uned_color;
      text-transform: capitalize;
    }

    .card-deck {
      justify-content: center !important;

      .card {
        padding-top: 5px;
        max-width: 33%;

        .card-img-wrapper {
          max-height: 200px;
          width: auto;

          & > img {
            height: 100%;
            width: auto;
            max-height: inherit;
          }
        }

        .card-body {
          position: relative;

          .card-footer-text {
            position: absolute;
            bottom: 0;
            width: calc(100% - 2.50rem);
          }
        }
      }
    }

    .pagination {
      justify-content: center !important;
      margin-top: 15px;
    }

    &.select-cases-view {

      .card-deck {
        .card {
          .card-footer {
            position: relative;

            .ranking-link:before {
              content: url('/static/image/leaderboard-35.png');
              position: absolute;
              bottom: -8px;
              left: 5px;
            }
          }
        }
      }
    }

    @media (max-width: $break-small-width) {
      .view-title {

        padding-bottom: 0px;

        .view-title-label {
          font-size: 16px;
        }
      }
      .card-deck {
        .card {
          max-width: 100%;

          .card-img-wrapper {
            max-height: 100px;
          }
        }
      }
    }
  }

  .case-story-dialog,
  .story-dialog {
    .modal-dialog {
      .modal-content {
        .modal-body {
          height: calc(90vh - 143px);
          overflow-y: auto;

          .message-content {
            width: 100%;
            height: 100%;

            & > embed {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .game-view {
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;

    .left-sidebar {
      width: 20%;
      @media (min-width: $break-laptopL-width) {
        .clue-wrapper {
          height: calc(100% - 190px) !important; //Restamos el panel de la clave
        }
      }

      .clue-wrapper {
        background-color: white;
        height: auto;
        border: 1px solid $web_background_color;
        border-radius: 5px;
      }

      .key-code-wrapper {
        background-color: white;
        margin-top: 10px;
        height: 180px;
        border: 1px solid $web_background_color;
        border-radius: 5px;
      }
    }

    .terminal-layout {
      min-height: 750px;
      height: auto;
      width: auto;
      padding: 5px;
      overflow: hidden;
      background-color: black;
      border: 1px solid $web_background_color;
      border-radius: 5px;
    }

    @media (max-width: $break-laptopL-width) {
      display: block;
      padding: 0;
      margin-top: -20px;
    }
    @media (max-width: $break-laptop-width) {
      .terminal-layout {
        overflow: scroll;
      }
    }
  }

  .chat-panel {
    position: fixed;
    bottom: 0;
    right: 15px;
    margin: 0;
    opacity: 0.9;
    z-index: 10;

    .chat {
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 15px;
      background: #7F7FD5;
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    }

    .card {
      height: 500px;
      border-radius: 15px !important;
      background-color: rgba(0, 0, 0, 0.4) !important;

    }

    .contact-list {
      span {
        font-size: 20px;
        color: white;
      }
    }

    .contacts_body {
      padding: 0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;

      .search {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;

        &:focus {
          box-shadow: none !important;
          outline: 0px !important;
        }
      }

      .contacts {
        list-style: none;
        padding: 0;

        .contact-wrapper {
          cursor: pointer;
          transition: 1s ease;

          &:hover {
            transform: scale(0.9);
            transition: 1s ease;
          }

          .img_cont {
            .badge-unread-contact-messages {
              position: absolute;
              left: 0;
            }
          }
        }

        li {
          width: 100% !important;
          padding: 5px 10px;
          margin-bottom: 15px !important;
        }
      }

      .active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .user_img {
      height: 70px;
      width: 70px;
      border: 1.5px solid #f5f6fa;
    }

    .user-icon {
      font-size: 70px;
      text-align: center;
      overflow: hidden;
      background-color: #efefef;
    }

    .user-icon-msg {
      font-size: 40px;
      text-align: center;
      overflow: hidden;
      background-color: #efefef;
    }

    .msg_card_body {
      overflow-y: auto;

      .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;

      }

      .img_cont_msg {
        height: 40px;
        width: 40px;
      }

      .msg_cotainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: #82ccdd;
        padding: 10px;
        position: relative;
      }

      .msg_cotainer_send {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        border-radius: 25px;
        background-color: #78e08f;
        padding: 10px;
        position: relative;

        .msg_time {
          left: unset;
          right: 0;
        }
      }

      .msg_time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        white-space: nowrap;
      }

      .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
      }
    }

    .card-header {
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
    }

    .card-footer {
      border-radius: 0 0 15px 15px !important;
      border-top: 0 !important;
    }

    .container {
      align-content: center;
    }

    .type_msg {
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      height: 60px !important;
      overflow-y: auto;
    }

    .type_msg:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .attach_btn {
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      cursor: pointer;
    }

    .send_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      cursor: pointer;
    }

    .search_btn {
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0, 0, 0, 0.3) !important;
      border: 0 !important;
      color: white !important;
      cursor: pointer;
    }

    .img_cont {
      position: relative;
      height: 70px;
      width: 70px;
    }

    .online_icon {
      position: absolute;
      height: 15px;
      width: 15px;
      background-color: #4cd137;
      border-radius: 50%;
      bottom: 0.2em;
      right: 0.4em;
      border: 1.5px solid white;
    }

    .offline {
      background-color: #c23616 !important;
    }

    .user_info {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 15px;

      span {
        font-size: 20px;
        color: white;
      }

      p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .address-book-btn-wrapper {
      .address-book-btn {
        span {
          color: white;
          font-size: 20px;
          cursor: pointer;
          margin-right: 20px;
        }
      }
    }

    .video_cam {
      margin-left: 50px;
      margin-top: 5px;

      span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
      }
    }

    .msg_head {
      position: relative;
    }

    #action_menu_btn {
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      cursor: pointer;
      font-size: 20px;
    }

    .action_menu {
      z-index: 1;
      position: absolute;
      padding: 15px 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border-radius: 15px;
      top: 30px;
      right: 15px;
      display: none;
    }

    .action_menu {

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
          padding: 10px 15px;
          margin-bottom: 5px;

          &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
          }

          i {
            padding-right: 10px;

          }
        }
      }
    }

    @media(max-width: 576px) {
      .contacts_card {
        margin-bottom: 15px !important;
      }
    }
  }

  .event-detail-view {
    .hidden-info-table {
      .table {
        tbody {
          .player-rating-wrapper {
            width: fit-content;
          }
        }
      }
    }
  }
}
