{% extends base_template %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="list-view {{ custom_view_name }}">
        {% block tabsheet %}{% endblock %}

        <div class="breadcrumb-wrapper shadow-sm bg-white rounded">
            {% block breadcrumb %}{% endblock %}
        </div>

        <div class="view-title">
            <label class="view-title-label text-uppercase">{{ title }}</label>
        </div>

        {% if not items %}
            {% block no_items %}
                <div class="mx-auto text-center">
                    <span class="display-3 non-items">{% block no_items_text %}
                        {% trans "No hay elementos" %}{% endblock %}</span>
                </div>
            {% endblock %}
        {% else %}
            <form action="{% url view_url %}?page={{ items.number }}" method="post" class="form">
                {% csrf_token %}
                <div class="card-deck">
                    {% for item in items %}
                        <div class="card shadow-sm bg-white rounded">
                            <div class="card-img-wrapper text-center">
                                <img src="{{ MEDIA_URL }}{% block item_img_url %}{% endblock %}"
                                     class="card-img-top rounded img-fluid" alt>
                            </div>
                            <div class="card-body">
                                {% if show_parent_name %}
                                    <h4 class="card-title text-muted">{% block parent_item_name %}{% endblock %}</h4>
                                {% endif %}
                                <h5 class="card-subtitle mb-2">{% block item_name %}{% endblock %}</h5>
                                <p class="card-text text-justify">{% block item_description %}{% endblock %}</p>
                                <div class="card-footer-text text-center">
                                    <p class="card-text">
                                        <small class="text-muted">{% block item_muted %}{% endblock %}</small>
                                    </p>
                                </div>
                            </div>
                            {% block button_wrapper %}
                                <div class="card-footer bg-transparent text-center">
                                    <button type="submit" class="btn btn-primary item-select-button"
                                            data-item-id="{{ item.id }}" name="{{ item.id }}">
                                        {% block select_button_name %}{% endblock %}</button>
                                </div>
                            {% endblock %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="item-selected" id="item-selected" value="None">
                </div>
                {% block additional_content %}{% endblock %}
            </form>
            {% include "pagination.html" with items=items %}
        {% endif %}
    </div>
{% endblock %}