<!-- Guacamole -->
{% load static %}
<script type="text/javascript" src="{% static 'js/guacamole_client.all.min.js' %}"></script>

<!-- Display -->
<div id="display" class="guacamole-display"></div>

<!-- Init -->
<script type="text/javascript"> /* <![CDATA[ */

    // Get display div from document
    var display = document.getElementById("display");

    // Instantiate client, using an HTTP tunnel for communications.
    var guac = new Guacamole.Client(
        new Guacamole.HTTPTunnel("tunnel")
    );

    // Add client to display div
    var displayClient = guac.getDisplay().getElement();
    display.appendChild(displayClient);

    // Error handler
    guac.onerror = function(error) {
        alert("Se ha producido un error: "+error.message+"("+error.code+")");
	console.log(error);
    };

    // Connect
    guac.connect();

    // Disconnect on close
    window.onunload = function() {
        guac.disconnect();
    }

    // Mouse
    var mouse = new Guacamole.Mouse(displayClient);

    mouse.onmousedown =
    mouse.onmouseup   =
    mouse.onmousemove = function(mouseState) {
        guac.sendMouseState(mouseState);
    };

    // Keyboard
    var keyboard = new Guacamole.Keyboard(document);
    // var keyboard = new Guacamole.Keyboard(displayClient);

    keyboard.onkeydown = function (keysym) {
        var activeElement = document.activeElement
        if(activeElement.nodeName.toLowerCase() === 'input' || activeElement.nodeName.toLowerCase() === 'textarea'){
            // Si el la pulsación se produce cuando hay una caja de texto o textarea activo la tecla no se redirige al terminal
            throw "This isn't a real error. Ignore it!"
        }else{
            guac.sendKeyEvent(1, keysym);
        }
    };

    keyboard.onkeyup = function (keysym) {
        var activeElement = document.activeElement
        if(activeElement.nodeName.toLowerCase() === 'input' || activeElement.nodeName.toLowerCase() === 'textarea'){
            // Si el la pulsación se produce cuando hay una caja de texto o textarea activo la tecla no se redirige al terminal
            throw "This isn't a real error. Ignore it!"
        }else{
            guac.sendKeyEvent(0, keysym);
        }
    };

/* ]]> */ </script>
